<% provide(:title, "Edit") %>
<h1>Edit Listing Detail</h1>

<%= form_for @submission, url: {action: 'update' , id: @submission.id} do |f| %>

<p>Title: <%= f.text_field 'title' %></p>
<p>Description: <%= f.text_area 'description' %></p>

<%= f.submit "Save changes", class: "btn btn-danger" %>
<% end %>

</br>
<ul class="pager">
  <li><%= link_to 'Back', root_path %></li>
</ul>