<div id="snow">
  <br>
  <br>
<h1>Submissions Index</h1>

<div class="container">
  <%@submissions.each do |submission| %>

    <div class="container", style="margin-top: 50px; width:500px;height:200px; border:1px inset green" >
      
       <p><center><%= image_tag(submission.avatar.url(:medium)) %></center> </p> 
    </div>  
      <div class= "container", style="margin: auto; width:500px;height:200px;border:1px solid red">

        <center>
      <h3><%= submission.link %></h3>
      <h3><%= submission.price %></h3>
      <p><%= submission.description %></p>
      </center>
      <br> 
      <br>
      <br>
      <br>
      
      </div>

    
  <% end %>
  <br>
  <center>
  <%= link_to "Make new submission", 'submissions/new' , class: "btn btn-primary" %>
  </center>
</div>
</div>

