<h1>New Submission</h1>

<div class="container">
    <%= form_for(@submission) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Lindt Chocolates" %>
      
      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control', placeholder: "www.example.com"%>
      
      <%= f.label :price %> ($)
      <%= f.text_field :price, class: 'form-control', placeholder: "5" %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', 
      placeholder: "An unopened box of Lindt chocolates."%>
      
      <br>
      <div class="help-options">
        <%= link_to "Browse the Index", index_path, class: "btn btn-primary" %>
        <%= f.submit "Make submission", class: "btn btn-primary" %>
      </div>
    <% end %>
    
</div>