<% provide(:title, "New") %>
  <h1>New Listing</h1>

<div class="container">
    <%= form_for(@submission) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "[Vancouver, CA] Box of Lindt Chocolates" %>
      
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', 
      placeholder: "I'm giving away an unopened box of Lindt chocolates. If you're interested, contact me at john@example.com. I'm in the Downtown Vancouver area."%>
      
      
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class:'form-control input-normal' %>
      
      <br>
      <div class="help-options">
        <%= link_to "Browse the Index", index_path, class: "btn btn-danger" %>
        <%= f.submit "Submit Listing", class: "btn btn-danger" %>
      </div>
    <% end %>
</div>
