<% provide(:title, "Show") %>
<br>
<div class="container listing-container">
      <p class="show-text">
         <strong>Title: </strong><%= @submission.title %><br>
         <strong>Description: </strong><%= @submission.description %><br>
      </p>
      <center><%= image_tag(@submission.avatar.url(:medium)) %></center>
</div>
<br>
<div id="help-options">
      <%= link_to "Back", index_path , class: "btn btn-danger" %>
      <%= link_to "Edit", {action: 'edit', id: @submission.id} , class: "btn btn-danger" %>
</div>